# Godot
.godot/
.import/
*.import
*.translation
*.cache
.mono/
*.md5

# Builds
build/
dist/
export/
*.html
*.wasm
*.pck
*.js
*.exe
*.zip
*.apple-touch-icon.png
*.icon.png
!build/
!build/web/
!build/web/**
!build/web/**/*.html
!build/web/**/*.wasm
!build/web/**/*.pck
!build/web/**/*.js
!build/web/**/*.css
!build/web/**/*.json
!build/web/**/*.png
!build/web/**/*.ico
!build/web/**/*.svg
!docs/
!docs/**
!docs/**/*.html
!docs/**/*.wasm
!docs/**/*.pck
!docs/**/*.js
!docs/**/*.css
!docs/**/*.json
!docs/**/*.png
!docs/**/*.ico
!docs/**/*.svg

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp
*.tmp
*.log
*.old
*.backup
